.dropDownComponent{
    // display: flex;
    // justify-content: space-between;
    width: 97%;
    border: 1px solid black;
    padding: 5px;
}   
form{
    display: flex;
    
}
.childComponent{
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.warning{
    color: red;
}